<div>
  <%= @game.player_1.name %> Vs <%= @game.player_2.name %>
</div>
<div>
<%= @game.player_2.name  %> Hit Points: <%= @game.player_2.hit_points %>
</div>
<div>
<form action="/attack" method="get">
  <button type='submit', value='attack'>Attack Player 2</button>
</form>
</div>
