<h1> <%= @game.attacker.name %> wins!!! &#128526; </h1>
<h3> Hit Points: <%= @game.attacker.hit_points %></h3>

<h2> Better luck next time <%= @game.opponent.name %>! &#128554;</h2>
<h3> Hit Points: <%= @game.opponent.hit_points %></h3>
